In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
# Importing excel file
df = pd.read_excel (r'MLBPayrolls.xls', sheet_name='MLB Payrolls')

In [2]:
# Math
1 + 1

2

In [2]:
pd.__version__

'0.24.2'

In [4]:
# Printing spreadsheet
print (df)

                     TEAM  Payroll 2002  Payroll 2003  Payroll 2004  \
0    Arizona Diamondbacks   102819999.0  8.065700e+07  6.978075e+07
1          Atlanta Braves    93470367.0  1.062437e+08  9.018250e+07
2       Baltimore Orioles    60493487.0  7.387750e+07  5.162333e+07
3          Boston Red Sox   108366060.0  9.994650e+07  1.272985e+08
4            Chicago Cubs    75690833.0  7.986833e+07  9.056000e+07
5       Chicago White Sox    57052833.0  5.101000e+07  6.521250e+07
6         Cincinnati Reds    45050390.0  5.935567e+07  4.661525e+07
7       Cleveland Indians    78909449.0  4.858483e+07  3.431930e+07
8        Colorado Rockies    56851043.0  6.717967e+07  6.544517e+07
9          Detroit Tigers    55048000.0  4.916800e+07  4.683200e+07
10        Florida Marlins    41979917.0  4.905000e+07  4.214304e+07
11         Houston Astros    63448417.0  7.104000e+07  7.539700e+07
12     Kansas City Royals    47257000.0  4.051800e+07  4.760900e+07
13     Los Angeles Angels    61721667.0  7.903167e+07  1.005347e+08
14    Los Angeles Dodgers    94850953.0  1.058726e+08  9.290200e+07
15      Milwaukee Brewers    50287833.0  4.062700e+07  2.752850e+07
16        Minnesota Twins    40225000.0  5.550500e+07  5.358500e+07
17          New York Mets    94633593.0  1.171764e+08  9.666097e+07
18       New York Yankees   125928583.0  1.527498e+08  1.841940e+08
19      Oakland Athletics    40004167.0  5.026083e+07  5.942567e+07
20  Philadelphia Phillies    57954999.0  7.078000e+07  9.321917e+07
21     Pittsburgh Pirates    42323599.0  5.481243e+07  3.222793e+07
22       San Diego Padres    41425000.0  4.792800e+07  5.538483e+07
23   San Francisco Giants    78299835.0  8.285217e+07  8.201917e+07
24       Seattle Mariners    80282668.0  8.695917e+07  8.151583e+07
25    St. Louis Cardinals    74660875.0  8.378667e+07  8.322833e+07
26         Tampa Bay Rays    34380000.0  1.963000e+07  2.955667e+07
27          Texas Rangers   105726122.0  1.034917e+08  5.505042e+07
28      Toronto Blue Jays    76864333.0  5.126900e+07  5.001700e+07
29   Washington Nationals           NaN           NaN  4.119750e+07

    Payroll 2005  Payroll 2009  Payroll 2010  Payroll 2011  Payroll 2016
0       62329166      73516666      60718166      53639833      89264063
1       86457302      96726166      84423666      87002692      69005791
2       73914333      67101666      81612500      85304038     145533782
3      123505125     121745999     162447333     161762475     188545761
4       87032933     134809000     146609000     125047329     154575168
5       75178000      96068500     105530000     127789000     112998667
6       61892583      73558500      71761542      75947134      89955059
7       41502500      81579166      61203966      49190566      74311900
8       48155000      75201000      84227000      88148071     112645071
9       69092000     115085145     122864928     105700231     194876481
10      60408834      36834000      57029719      56944000      77314202
11      76779000     102996414      92355500      70694000      94893700
12      36881000      70519333      71405210      36126000     131487125
13      97725322     113709000     104963866     138543166     137251333
14      83039000     100414592      95358016     104188999     221288380
15      39934833      80182502      81108278      85497333      69282737
16      56186000      65299266      97559166     112737000     105333200
17     101305821     149373987     134422942     118847309     133889129
18     208306817     201449189     206333389     202689028     222997792
19      55425762      62310000      51654900      66536500      86806234
20      95522000     113004046     141928379     172976379      83980000
21      38133000      48693000      34943000      45047000     103778833
22      63290833      43734200      37799300      45869140     101424814
23      90199500      83026450      98641333     118198333     172253778
24      87754334      98904166      86510000      86524600     141683339
25      92106833      88528409      93540751     105433572     143053500
26      29679067      63313034      71923471      41053571      57097310
27      55849000      68178798      55250544      92299264     186038723
28      45719500      80538300      62234000      62567800     138701700
29      48581500      60328000      61400000      63856928     141652646

In [5]:
# Synopsis of data
df.head()

,TEAM,Payroll 2002,Payroll 2003,Payroll 2004,Payroll 2005,Payroll 2009,Payroll 2010,Payroll 2011,Payroll 2016
0,Arizona Diamondbacks,102819999.0,8.065700e+07,6.978075e+07,62329166,73516666,60718166,53639833,89264063
1,Atlanta Braves,93470367.0,1.062437e+08,9.018250e+07,86457302,96726166,84423666,87002692,69005791
2,Baltimore Orioles,60493487.0,7.387750e+07,5.162333e+07,73914333,67101666,81612500,85304038,145533782
3,Boston Red Sox,108366060.0,9.994650e+07,1.272985e+08,123505125,121745999,162447333,161762475,188545761
4,Chicago Cubs,75690833.0,7.986833e+07,9.056000e+07,87032933,134809000,146609000,125047329,154575168

In [6]:
# Like summary() in R
df.describe()

,Payroll 2002,Payroll 2003,Payroll 2004,Payroll 2005,Payroll 2009,Payroll 2010,Payroll 2011,Payroll 2016
count,2.900000e+01,2.900000e+01,3.000000e+01,3.000000e+01,3.000000e+01,3.000000e+01,3.000000e+01,3.000000e+01
mean,6.848300e+07,7.169764e+07,6.904220e+07,7.306290e+07,8.889095e+07,9.059200e+07,9.287204e+07,1.260640e+08
std,2.455258e+07,2.822834e+07,3.282287e+07,3.423390e+07,3.382296e+07,3.823599e+07,4.081279e+07,4.559706e+07
min,3.438000e+07,1.963000e+07,2.752850e+07,2.967907e+07,3.683400e+07,3.494300e+07,3.612600e+07,5.709731e+07
25%,4.725700e+07,5.026083e+07,4.702625e+07,5.029257e+07,6.737095e+07,6.160850e+07,6.289008e+07,8.943681e+07
50%,6.172167e+07,7.078000e+07,6.231908e+07,6.619142e+07,8.105873e+07,8.432533e+07,8.676365e+07,1.222429e+08
75%,8.028267e+07,8.378667e+07,8.844396e+07,8.757398e+07,1.023510e+08,1.033832e+08,1.168330e+08,1.449137e+08
max,1.259286e+08,1.527498e+08,1.841940e+08,2.083068e+08,2.014492e+08,2.063334e+08,2.026890e+08,2.229978e+08

In [7]:
df.columns()

TypeError: 'Index' object is not callable

In [8]:
# List column names
list(df.columns)

['TEAM',
 'Payroll 2002',
 'Payroll 2003',
 'Payroll 2004',
 'Payroll 2005',
 'Payroll 2009',
 'Payroll 2010',
 'Payroll 2011',
 'Payroll 2016']

In [9]:
# Use the sum() function to calculate the total payroll of all teams in 2004
df['Payroll 2004'].sum()

2071265943.33

In [3]:
# Use the mean() function to calculate the average payroll of teams in 2004
df['Payroll 2004'].mean()

69042198.111

In [4]:
# Now use the sum() function to calculate the payroll of all teams in 2002.
df['Payroll 2002'].sum()

1986007022.0

In [13]:
# How much more (or less) did the Arizona Diamondbacks pay its players in 2016 than it paid in 2002.
df.iloc[0,8]-df.iloc[0,1]

-13555936.0

In [12]:
# What was the percentage increase (or decrease) in the Arizona Diamond payroll between 2011 and 2016?
((df.iloc[0, 8]-df.iloc[0,7])/df.iloc[0,7])*100

66.41376008758267

In [14]:
# Use the colSums() function to get the toal MLB payrolls for all years.
df.sum()

TEAM            Arizona DiamondbacksAtlanta BravesBaltimore Or...
Payroll 2002                                          1.98601e+09
Payroll 2003                                          2.07923e+09
Payroll 2004                                          2.07127e+09
Payroll 2005                                           2191886898
Payroll 2009                                           2666728494
Payroll 2010                                           2717759865
Payroll 2011                                           2786161291
Payroll 2016                                           3781920218
dtype: object

In [7]:
# Sort teams in reverse alphabetical order.
df('TEAM').sort_values('TEAM', ascending=False)

TypeError: 'DataFrame' object is not callable